/build/
/bin/
/target

.settings/*
.settings
.idea/*
.idea

.classpath
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

*.db
*.iml
*.jks
*.prod.conf

.cache*

/dependency-reduced-pom.xml